<!-- Clients -->
<aside id="{{ block_id }}" class="{{ template_id }}">
  <div class="container">
    <div class="row">
      {% for client in block.items %}
      <div class="col-md-3 col-sm-6">
        <a
          href="{{ client.url }}"
          {% if item.open_in_new_page %}
            target="_blank"
          {% endif %}
          data-field-string="items[{{loop.index0}}].url"
          data-field-string-format-uri="items[{{loop.index0}}].link"
          data-placement="bottom"
        >
        	<img src="{{ client.logo }}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</aside>

<!-- Theme CSS -->
<style>
.{{ template_id }} img {
  margin: 50px auto;
}
</style>

<!-- Style CSS -->
<style>
/* Block */
#{{ block_id }} {
  background-color: {{ block.style.block.bg_color }};
}
</style>