<!-- Clients -->
<aside id="{{block_id}}" class="{{template_id}}">
  <div class="container">
    <div class="row">
      {% for client in items %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ client.url }}">
        	<img src="{{ client.logo }}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</aside>

<!-- Theme CSS -->
<style>
.clients img {
  margin: 50px auto;
}
</style>

<!-- Style CSS -->
<style>
/* Base */
#{{block_id}} {
  color: {{ style.base.text_color }};
  padding-top: {{ style.base.padding_top }}px;
  padding-bottom: {{ style.base.padding_bottom }}px;
}
#{{block_id}} h1, #{{block_id}} h2, #{{block_id}} h3, #{{block_id}} h4, #{{block_id}} h5, #{{block_id}} h6 {
  color: {{ style.base.title_text_color }};
}
#{{block_id}} h3.section-subheading {
  color: {{ style.base.subtitle_text_color }};
}
#{{block_id}} p {
  color: {{ style.base.text_color }};
}
#{{block_id}} a {
  color: {{ style.base.link_text_color }};
}
#{{block_id}} a:hover,
#{{block_id}} a:focus,
#{{block_id}} a:active {
  color: {{ style.base.link_hover_text_color }};
}
#{{block_id}} .btn-primary,
#{{block_id}} .btn-primary:hover,
#{{block_id}} .btn-primary:focus,
#{{block_id}} .btn-primary:active {
  background-color: {{ style.base.primary_color }};
  border-color: {{ style.base.primary_color }};
}
#{{block_id}} .text-primary {
  color: {{ style.base.primary_color }};
}
#{{block_id}} ::selection {
  color: {{ style.base.selection_text_color }};
  background: {{ style.base.selection_bg_color }};
}

/* Block */
#{{block_id}} {
  background-color: {{ style.block.bg_color }};
  {% if style.block.padding_top >= 0 %}
  padding-top: {{ style.block.padding_top }}px;
  {% endif %}
  {% if style.block.padding_bottom >= 0 %}
  padding-bottom: {{ style.block.padding_bottom }}px;
  {% endif %}
}
{% if style.block.icon_bg_color %}
#{{block_id}} .text-primary { color: {{ style.block.icon_bg_color }}; }
{% endif %}
{% if style.block.icon_color %}
#{{block_id}} .fa-inverse { color: {{ style.block.icon_color }}; }
{% endif %}
</style>