<!-- Clients -->
<aside id="{{ block_id }}" class="{{ template_id }}">
  <div class="container">
    <div class="row">
      {% for client in items %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ client.url }}">
        	<img src="{{ client.logo }}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</aside>

<!-- Theme CSS -->
<style>
.{{ template_id }} img {
  margin: 50px auto;
}
</style>

<!-- Style CSS -->
<style>
/* Block */
#{{ block_id }} {
  background-color: {{ style.block.bg_color }};
}
</style>