<div>Gabriel är glad nu också yay!</div>
<section id="{{block_id}}" class="{{template_id}} block">
<script>
  const blockId = '{{block_id}}';
  let myScript = parent.frames['clientframe'].contentWindow.document.createElement("script");
  myScript.setAttribute("src", "https://raw.githubusercontent.com/klar-templates/agency/master/templates/blocks/team2.html");
  myScript.onload = function () {setTimeout(() => doIt(blockId), 300)};
  parent.frames['clientframe'].contentWindow.document.getElementsByTagName('head')[0].appendChild(myScript);
</script>